/* 웹폰트 */
 /* @font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Anton-Regular.eot);
    src: url(../font/Anton-Regular?#iefix) format('embedded-opentype'),
         url(../font/Anton-Regular.woff) format('woff'),
         url(../font/Anton-Regular.ttf) format('truetype');
}  */

*,:before,:after {box-sizing: border-box;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
ol, ul { list-style: none; }
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}
.clearfix:after { content: ''; display: block; clear: both; }
.hidden {display: none;}
body,input,button,select,textarea,table { font-family: 'malgun gothic','Apple SD Gothic Neo',sans-serif; font-size: 14px; color: #333; }
a { text-decoration: none; color: #333; }

/* 폼요소 공통스타일 */
button, select { cursor: pointer; outline: none; border: none;}
input {margin: 0;}
fieldset {border: none;}

/* 버튼 공통 */
.btn_dark {background: #404040; border: 1px solid #293042; color: #fff !important;}
.btn_gray {background: #ededed; border: 1px solid #293042; color: #293042 !important;}
.btn_blue {background: #10228b; border: 1px solid #10228b; color: #fff !important; }
.btn_sky {border: 1px solid #4a4c5c; background: #eceef4; color: #293042 !important;}
.btn_white {border: 1px solid #10228b; background: #fff; color: #10228b !important;}

/* ----------------------------------------------------- */

body {min-width: 240px; min-height: 320px;}

#header {background: #0c1a6f;}
#header .header_inner {position: relative; display: flex; height: 35px; align-items: center;}
#header .header_inner:before {content: ''; position: absolute; right: 34px; top: 0; border-left: 1px solid rgb(255, 255, 255, 0.1); width: 1px; height: 100%;}
#header [class^="xi"] {color: #fff; font-size: 20px;}
#header .btn_open {flex-basis: 40px;}
#header .btn_open .xi-bars {margin-left: 10px;}
#header .logo {width: 130px; margin-top: 2px;}
#header .logo img {width: 100%;}
#header .btn_logout { flex-basis: 35px; margin-left: auto;}
#header .btn_logout i {margin-left: 8px;}

/* 사이드 메뉴 박스 */
#header .gnb_box { position: fixed; left: 0; top: 35px; width: calc(100% - 35px); min-width: 240px; min-height: 320px; height: calc(100% - 35px); background: #0c1a6f; border-top: 1px solid rgb(255, 255, 255, 0.1); transform: translateX(-100%); transition: transform 0.4s cubic-bezier(0.63,-0.01, 0.27, 0.86); z-index: 9999; } 
#header .gnb_box.show {transform: translateX(0); transition: transform 0.4s cubic-bezier(0.63,-0.01, 0.27, 0.86);}

#header .gnb_box .depth1>a {position: relative; padding-left: 10px; line-height: 30px; display: block; color: #fff; font-weight: 700;}
#header .gnb_box .depth1>a:after { content: ''; position: absolute; right: 5px; top: 50%; background: url(../images/gnb_arrow_r.png) no-repeat 50% 50%; background-size: 24px; width: 24px; height: 24px; margin-top: -12px; }
#header .gnb_box .depth1:nth-child(2)>a:after {transform: rotateZ(90deg);}
#header .gnb_box .depth1>a>i {vertical-align: -3px; padding-right: 8px;}

/* gnb_box 버튼 공통 */
#header .gnb_box .btn_wrap {display: flex; padding: 0 5px; justify-content: space-between;}
#header .gnb_box .btn_wrap .btn_gnb { background: rgb(74, 134, 249); width: 49.5%; line-height: 26px; display: inline-block; border-radius: 3px; text-align: center; color: #fff; border: 1px solid rgb(255, 255, 255, 0.1); }
#header .gnb_box li:nth-child(2) {padding-bottom: 10px;}
#header .gnb_box li:nth-child(2) .btn_wrap {flex-wrap: wrap;}
#header .gnb_box li:nth-child(2) .btn_wrap .btn_thirds {display: flex; flex-basis: 100%; justify-content: space-between;}
#header .gnb_box li:nth-child(2) .btn_wrap .btn_gnb {margin-bottom: 5px;}
#header .gnb_box li:nth-child(2) .btn_wrap .btn_thirds .btn_gnb {width: 32.6%;}
/* // 사이드 메뉴 박스 */

/* -------------------------------------------- */

/* 페이지 공통 */
.page_hd { display: flex; height: 25px; border-bottom: 1px solid #ddd; justify-content: space-between; align-items: center; padding: 0 5px 0 10px; }
.page_hd p {color: #10228b; font-weight: 700;}
.page_hd .user_info i {font-size: 17px; padding-right: 4px; vertical-align: -2px;}

.contents {padding: 5px; background-color: #f8fafb; height: calc(100vh - 90px);}
.contents .filter_box {overflow: hidden; padding-bottom: 5px; border-bottom: 2px solid #0c1a6f; }
.contents .filter_box.not_grid {border-bottom: none;}
.contents .filter_box .filter_wrap {overflow: hidden; margin-bottom: 2px; border: 1px solid #929ab3;}
/* .filter_btn 옆에 버튼 있는 경우 */
.contents .filter_box .filter_wrap.filter_btn {width: 66%; float: left;}
/* // */
.contents .filter_box .filter_wrap p {width: 80px; float: left; font-size: 12px; color: #2b2b2b; line-height: 24px; text-align: center; background: #eceef4; border-right: 1px solid #929ab3;}

.contents .filter_box .filter_wrap input[type="text"] {height: 24px; width: calc(100% - 80px); border: none; font-size: 12px; padding: 5px;}
.contents .filter_box .filter_wrap input[type="text"].full {width: 100%;} 
.contents .filter_box .filter_wrap input:focus {outline:none; border: 1px solid rgb(74, 134, 249); background: #F8F8F8;}

/* .search > 검색버튼 있는 경우 */
.contents .filter_box .filter_wrap.search input[type="text"] {width: calc(100% - 104px);}
.contents .filter_box .filter_wrap.search .btn_search {float: right; width: 24px; height: 24px; background: #777c96;}
.contents .filter_box .filter_wrap.search .btn_search .xi-search {color: #fff; margin-left: 5px; vertical-align: -2px;}
/* // */
/* .half > 한 줄에 filter 두 칸 */
.contents .filter_box .filter_wrap.half {width: 50%; float: left;}
/* // */
.contents .filter_box .filter_wrap .select_wrap {position: relative; display: inline-block; width: calc(100% - 80px);}
.contents .filter_box .filter_wrap select { width: 100%; height: 24px;  padding-left: 5px; border: none; font-size: 12px;}
.contents .filter_box .filter_wrap select:focus {outline: none; border: 1px solid rgb(74, 134, 249);}

.contents .filter_box .filter_wrap .radio_wrap { float: left; width: calc(100% - 80px); height: 24px; padding-top: 3px; background: #fff;}
.contents .filter_box .filter_wrap  .radio_wrap {padding-left: 5px;}
.contents .filter_box .filter_wrap .radio_wrap.full {width: 100%; text-align: center; padding-left: 0;}
.contents .filter_box .filter_wrap .radio_wrap.full label {padding-right: 10px;}
.contents .filter_box .filter_wrap .radio_wrap label {position: relative; font-size: 12px; vertical-align: 3px;}

/* filter 버튼 */
.contents .filter_box .btn_wrap {width: 33%; float: right;}
.contents .filter_box .btn_wrap button {width: 100%; height: 26px; border: none; font-size: 12px;}


.contents .grid_wrap { background: #fff; overflow: scroll;}
/* filter 갯수에 따른 grid 높이 */
.contents .grid_wrap.filter1 { height: calc(100% - 36px);}
.contents .grid_wrap.filter2 { height: calc(100% - 64px);}
.contents .grid_wrap.filter3 { height: calc(100% - 92px);}
.contents .grid_wrap.filter4 { height: calc(100% - 120px);}
.contents .grid_wrap.filter5 { height: calc(100% - 148px);}
.contents .grid_wrap.filter6 { height: calc(100% - 176px);}
.contents .grid_wrap.filter7 { height: calc(100% - 204px);}
.contents .grid_wrap.filter8 { height: calc(100% - 232px);}
.contents .grid_wrap table {border-spacing: 0; width: 100%;}
.contents .grid_wrap th {background: #aeaeb1; border: 1px solid #898b8f; width: 30%; color: #fff;font-weight: 300; font-size: 12px; line-height: 24px;}
.contents .grid_wrap .small {width: 10%;}
.contents .grid_wrap td {text-align: center; border-bottom: 1px solid #898b8f; border-right: 1px solid #898b8f; font-size: 12px; line-height: 24px; }
.contents .grid_wrap td:first-child {border-left: 1px solid #898b8f;}

.page_btn_wrap {display: flex;}
.page_btn_wrap .btn {flex-grow: 1; height: 30px; border-radius: 0;}
/* // 페이지 공통 */


/* -------------------------------------------- */


/* 메인 */
.main_container .contents {height: calc(100vh - 60px);}
.main_container .contents .latest_list {padding-top: 5px; height: calc(100% - 61px);}
.main_container .contents .latest_list ul {display: flex; flex-wrap: wrap; justify-content: space-between; height: 100%;}
.main_container .contents .latest_list ul li { flex: 0 1 48%; height: calc(100% / 5.4); border-radius: 3px; padding: 5px; background: linear-gradient( 275deg , #151a51, #5d68c7);}
.main_container .contents .latest_list ul li.gray {background: linear-gradient( 275deg , #515151, #949496);}
.main_container .contents .latest_list ul li a {display: block; color: #fff; font-weight: 700;}

/* 로그인 */
.login_container {border: 1px solid black; height: 100vh; padding: 47px 20px 0; background: url(../images/login_bg.png) no-repeat 50% 53%;}
.login .logo {text-align: center;}
.login .logo .logo_img {display: inline-block; width: 160px;}
.login .logo .logo_img img {width: 100%; vertical-align: -1px;}
.login .logo .mos { padding-left: 5px; color: #0e4194; font-size: 22px; font-weight: 500;} 
.login .login_wrap { margin-top: 15px; padding: 10px 15px; border-radius: 4px; background-color: rgba(236, 238, 244, 0.9); box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 0px; }
.login .login_wrap .input_wrap {margin: 3px 0 8px 0;}
.login .login_wrap .input_wrap p { padding: 5px 10px 2px 0; font-size: 12px; font-weight: 700;}
.login .login_wrap .input_wrap input[type="text"] {width: 100%; padding: 5px 0 5px 5px; font-size: 12px; border: 1px solid #a9a9a9; }
.login .login_wrap .input_wrap input::placeholder {font-size: 12px; color: #666;}
.login .login_wrap .input_wrap input:focus {outline: none; border: 1px solid #75a1e7;}
.login .login_wrap .checkbox_wrap input[type="checkbox"] { margin: 0; }
.login .login_wrap .checkbox_wrap label { vertical-align: 2px; font-size: 12px;}
.login .login_wrap .btn_wrap { display: flex; margin: 12px 0 10px 0; }
.login .login_wrap .btn_wrap .btn { flex-grow: 1; margin-right: 1px; line-height: 40px; border: 1px solid #10228b; border-radius: 2px; color: #10228b; font-size: 12px;}
.login .login_wrap .btn_wrap .btn_gray {margin-right: 0;}
.login .copy { margin-top: 54px; text-align: center; font-size: 10px; color: rgba(255, 255, 255, 0.6);}

/* 생산실적 */
.result_container .contents {overflow: auto;}
.result_container .filter_wrap.clear {clear: both;}
.result_container .filter_wrap .input_wrap {position: relative; width: calc(100% - 80px); float:left; font-size: 0;}
.result_container .filter_wrap .input_wrap:after { content: ''; position: absolute; left: 50%; top: 0; width: 1px; height: 100%; background: #929ab3; }
.result_container .filter_wrap .input_wrap input[type="text"] {width: 50%;}

/* 출하검사 */
.ship_out_container .filter_wrap:nth-child(6) p {width: 100%; border-right: none;}
.ship_out_container .filter_wrap:nth-child(6) input[type="text"] {width: 50%; float: left;}
.ship_out_container .filter_wrap .btn_blue {width: 50%; line-height: 22px; border: none; font-size: 12px; }
.ship_out_container .filter_wrap:nth-child(7) p {width: 100%; border-right: none;}
.ship_out_container .filter_wrap:nth-child(7) input[type="text"] {width: 50%; float: left;}

/* -------------------------------------------- */

@media (max-height: 420px) {
   #header .gnb_box {width: 100%;}
   #header .gnb_box .depth1>a { line-height: 20px; font-size: 12px; }
   #header .gnb_box .depth1>a>i {font-size: 16px; vertical-align: -2px;}
   #header .gnb_box .btn_wrap .btn_gnb {line-height: 18px; font-size: 13px;}

   .login .copy { margin-top: 34px; }
}

@media (max-width: 312px) {
   .contents .filter_box .filter_wrap .radio_wrap.full label {padding-right: 0;}
}

@media (max-width: 275px) {
   #header .gnb_box {width: 100%;}
   .page_hd p {font-size: 13px;}
   .contents .filter_box .filter_wrap p {width: 60px; font-size: 11px;}
   .contractor_load_container .contents .filter_box .filter_wrap p {width: 70px;}
   .contents .filter_box .filter_wrap .radio_wrap {width: calc(100% - 60px);}
   .contractor_load_container .contents .filter_box .filter_wrap .radio_wrap {width: calc(100% - 70px);}
   .contents .filter_box .filter_wrap .radio_wrap label {font-size: 11px;}
   .contents .filter_box .filter_wrap .radio_wrap label:before { width: 14px; height: 14px; margin-top: -7px; }
   .contents .filter_box .filter_wrap input[type="text"] {width: calc(100% -  60px);}
   .contractor_load_container .contents .filter_box .filter_wrap input[type="text"] {width: calc(100% -  70px);}
   .contents .filter_box .filter_wrap .select_wrap {width: calc(100% - 60px);}
   .contractor_load_container .contents .filter_box .filter_wrap .select_wrap {width: calc(100% - 70px);}
   .contents .filter_box .filter_wrap select {font-size: 11px;}

   .result_container .filter_wrap .input_wrap {width: calc(100% - 60px);}
   .result_container .filter_wrap .input_wrap input[type="text"]{width: 50%;}

   .ship_out_container .filter_wrap:nth-child(6) p {width: 100%;}
   .ship_out_container .filter_wrap:nth-child(6) input[type="text"] {width: 50%;}
   .ship_out_container .filter_wrap:nth-child(7) p {width: 100%;}
   .ship_out_container .filter_wrap:nth-child(7) input[type="text"] {width: 50%;}
}